




body, .list, .page
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}
 .navigation-bar__center, .navigation-bar__left, .navigation-bar__right,.navigation-bar,.navigation-bar__item
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   
	
	

}
.toolbar-button, .toolbar-button--outline, .toolbar-button--quiet
	{
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   
		color: #fff;
	}

.tab-bar--top {

top: 20px;

}

.tab-bar--top__content {
top: 69px;

}

.navigation-bar--double
{
	
	
	height: 108px !important;
	


	
}


.doublebox
{
	
	top: 108px;

}

