.topView{
      margin-top: 20px;
    width: 100%;
    height: 175px;
    text-align: center;
    margin-bottom: 15px;
    background: url(../images/airtime-bg.png);
  background-size: cover;

}



.about{
  margin-top: 55px;
}

.topView > img{
  height: 100%;
}

.forum
  {
    margin-top: 10px;
    margin-bottom: 10px;

}

.bod{
      border: 1px solid #dd5600;
}

.airtime{
  text-align: center;
}

.chapters{
  border-radius: 50%;
    height: 72px;
    
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin: auto;
    padding-top: 15px;
}

.chapter1{
  background-color: #dd5600;
}

.chapter2{
  background-color: #9e6ab8;
}

.chapter3{
  background-color: #14b1bb;
}

.chapter4{
  background-color: #f7b71e;
}

.chapter5{
  background-color: #a2d246;
}

.de{
  margin: 10px;
}

.clientsview > img{
      max-height: 200px;
}

#viewBox{
  margin-top: 20px;
    width: 100%;
    height: 310px;
    text-align: center;
  /*  margin-bottom: 65px;*/
}
.clientsview{
  background: url(../images/airtime-bg.png);
  background-size: cover;
}

#clientview{
  margin-top: 20px;
    width: 100%;
    height: 175px;
    text-align: center;
}

#shopView{
  margin-top: 20px;
    width: 100%;
    height: 175px;
    text-align: center;
  /*  margin-bottom: 65px;*/
}


#shopView > img{
  width: 317px;
}

.logo{
  height: 120px;
}

.tabs{
  top:25px;
}

.msg{
  word-wrap:break-word;
  margin: 0 1em 0.5em;
}

.profile-card {
  width: 100%;
  text-align: center;
  color: white;
  padding: 30px 0;
  line-height: 1.4;
  background-color: #33393c;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.profile-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: black;
  border 1px solid white;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
}

.profile-name {
  margin: 20px 0 0 0;
  font-weight: 600;
  font-size: 17px;
}

.profile-id {
  margin: 0 0 5px 0;
  font-size: 14px;
  opacity: 0.6;
}

.profile-desc {
  font-size: 15px;
  opacity: 0.6;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.info-col {
  height: 60px;
  line-height: 1;
  padding: 12px 0 12px 4px;
}

.info-num {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
}

.info-unit {
  margin-top: 6px;
  font-size: 14px;
  opacity: 0.4;
}

.reply-notification {
  position: absolute;
  right: 18px;
  top: 28px;
  font-size: 10px;
  font-weight: 600;
  height: 13px;
  line-height: 13px;
  padding: 0 4px;
  min-width: 13px;
}

.tab-icon {
  font-size: 28px;
  vertical-align: -4px;
}

.timeline {
  margin-top: 10px;
  margin-bottom: 10px;
}

.timeline-li {
  line-height: 1;
  padding: 10px;
}

.timeline-image {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.timeline-date {
  float: right;
  font-size: 12px;
  opacity: 0.35;
}

.timeline-from {
  margin: 10px 0 6px 0;
}

.timeline-name {
  font-size: 15px;
  font-weight: 500;
}

.timeline-id {
  font-size: 14px;
  opacity: 0.4;
}

.timeline-message {
  margin-top: 4px;
  font-size: 14px;
  opacity: 0.8;
  line-height: 1.15;
}

.status0{
  color:#dd5600;
}
.status1{
  color:#669533;
}

.whitepod .list__item {
    overflow: auto;
    font-size: .9em;
    color: #000;
    font-weight: bold;
    padding: 1em;
    line-height: 1.2em;
}

.amount {
    color: green;
    font-size: 14px;
    text-align: right;
    float: right;
}

.desc {
    line-height: 1.4;
    font-size: 13px;
    margin-bottom: 5px;
    color: green;
}
.highlight{
  color:#fd7f03;
  font-weight: 1em;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
   .chapters{
  border-radius: 0%;
    height: 72px;
    
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin: auto;
    padding-top: 15px;
}
}